.container {
  display: block;
  position: fixed;
  width: 100%;
  border-top: solid 1px #CCC;
  background: #FFFFFF;
  z-index: 998;
  overflow-x: scroll;
  bottom: 0;

  :global(.adm-tab-bar-item-icon) {
    display: flex;
    align-items: center;
    height: 32px;

    .icon {
      margin-right: auto;
    }
  }
}

.sep {
  display: inline-block;
  width: 1px;
  height: 100%;
  background: #CCC;
}
