.title {
  line-height: 32px;
}

.list {
  margin-top: 10px;
  border: 2px solid #e0e0df;
  height: 160px;
  overflow-y: auto;

  .item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e0e0df;
    color: #888;
    cursor: pointer;
    line-height: 20px;
    overflow-x: scroll;

    &.noborder {
      border-bottom: 0px;
    }

    &.selected {
      background-color: #e0e0e0;
      color: #555;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    .name {
      height: 19px;
      line-height: 19px;
      margin-left: 10px;
      float: left;
    }

    .sub {
      height: 19px;
      line-height: 19px;
      margin-left: 0px;
      margin-right: 5px;
      float: right;
      font-style: italic;
      font-size: 10px;
      font-weight: 300;
    }
  }
}
