@use '../_mixins.scss' as mixins;

.rounded-corner {
  @include mixins.icon-input();

  :global(.ui-control-unit-input-v2) {
    input {
      width: 66px !important;
    }

    span {
      display: inline-flex;
      justify-content: flex-end;
      width: 18px;
    }
  }
}
