@use '../_mixins.scss' as mixins;

.panel {
  :global(.ant-select) {
    padding: 5px 0 1px 0;
    :global(.ant-select-selector) {
      border-width: 0 0 1px 0;
    }
  }

  .row {
    display: flex;
    align-items: center;
  }

  .font-family {
    width: 100%;
  }

  .font-size {
    width: 68px;
    margin-right: auto;

    :global(.ui-control-unit-input-v2) {
      height: 28px !important;
      margin: 4px 0 !important;

      input {
        height: 28px !important;
        width: 68px !important;
        padding-left: 5px !important;
      }

      span {
        display: inline-flex;
        justify-content: flex-end;
        width: 18px;
      }
    }
  }

  .font-style {
    width: calc(100% - 80px);
  }

  .spacing {
    @include mixins.icon-input();
    margin-right: 8px;

    :global(.ui-control-unit-input-v2) {
      margin: 4px 0 !important;
      input {
        padding: 1px !important;
      }
    }
  }

  .vertical-text {
    margin-left: auto;
    margin-right: 4px;

    &.active > span {
      color: #1890ff;
    }
  }

  :global(.option-block) {
    height: 30px;
    margin-bottom: 4px !important;
  }
}
