@use "./connection_setting_page" as connectionSettingPage;

.container {
  @include connectionSettingPage.container;

  .main {
    .image {
      img {
        width: 200px;
        box-shadow: 0 7px 15px rgba(0, 0, 0, 0.2), 0 10px 20px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
      }

      .hint {
        position: absolute;
        width: 160px;
        height: 20px;
        border-radius: 10px;
        margin: 74px 0 0 -10px;

        &.wired {
          margin: 122px 0 0 -10px;
        }
      }

      @media screen and (max-width: 600px) {
        .hint {
          width: 80px;
          height: 14px;
          margin: 44px 0 0 -38px;

          &.wired {
            margin: 73px 0 0 -38px;
          }
        }
      }
    }

    .input {
      width: 100%;
      background-color: unset;
      color: #333333;
      border-radius: 0px;
      border-width: 0px;
      border-bottom-width: 1px;
      font-size: 30px;
      padding: 10px 0;
      height: 50px;
      margin-bottom: 10px;

      @media screen and (max-width: 600px) {
        font-size: 22px;
        height: 42px;
      }

      &.disabled {
        pointer-events: none;
      }
      &:focus {
        border-radius: 0px;
        border-width: 0px;
        border-bottom-width: 1px;
        outline: none;
      }
    }
  }
}
