@mixin panel {
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  clear: both;

  .title {
    line-height: 32px;
  }

  .input {
    width: 80px;
    float: right;

    > input {
      width: 100%;
      height: 30px;
      padding: 1px 1px 0px;
      outline: none;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-width: 0 0 1px 0;
      border-radius: 0;
      background-color: unset;

      &:disabled {
        border: none;
      }
    }

    > span {
      width: 25px;
      font-size: 9px;
      margin-left: -25px;
      text-align: right;
      color: rgba(0, 0, 0, 0.25);
    }
  }

  .value {
    float: right;
    line-height: 32px;
  }

  &.without-drag {
    height: 32px;

    .title {
      line-height: 32px;
    }
  }

  &.checkbox {
    height: 16px;

    .title {
      line-height: 16px;
    }

    input[type="checkbox"] {
      float: right;
      margin-top: 2px;
      margin-right: 10%;
    }
  }

  .warning {
    display: flex;
    margin-top: 15px;

    .warning-icon {
      width: 20px;
      height: 20px;
      border: 1px solid #333333;
      border-radius: 10px;
      line-height: 18px;
      text-align: center;
    }

    .warning-text {
      width: calc(100% - 20px);
      padding-left: 8px;
      font-size: 12px;
    }
  }
}
