.label {
  height: 40px;
  line-height: 20px;
  padding: 10px 15px;
  background: #f2f2f2;
  border: 1px #e0e0e0 solid;
  border-width: 1px 0;
  text-align: left;
  color: #333;
  font-weight: bold;
}

.settings {
  padding: 10px 3px;
}
