@use '../mixins' as mixins;

.item-group {
  @include mixins.item-group();
  border: 0;
}

.option {
  display: flex;
  align-items: center;
  font-size: 12px;
  gap: 4px;
  > svg {
    font-size: 24px;
  }
}

.modal {
  .change-layer {
    margin-bottom: 12px;
    .title {
      color: #7c7c7c;
      font-size: 12px;
    }
    .layers {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      .layer {
        width: 30px;
        height: 30px;
        border-radius: 4px;
        border: 2px solid white;
        &.active {
          border-color: #0091ff;
        }
      }
    }
  }
  .select {
    width: 100%;
  }
  [class*='panel'] {
    padding-left: 0;
    padding-right: 0;
  }
}

.preset-dropdown-container {
  display: flex;
  margin: 0 15px;
  justify-content: space-between;
  align-items: center;

  .preset-dropdown {
    width: calc(100% - 35px);
  }
}
