.container {
  height: 100%;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  color: #7c7c7c;

  &:hover {
    color: #000000;
  }

  &.disabled {
    opacity: 0.3;
    cursor: default;
  }
}
