.points {
  margin: 32px 8px;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: scroll;

  .row {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .point {
      width: 6px;
      height: 6px;
      border-radius: 3px;
      background-color: #7c7c7c;

      &.finished {
        background-color: #4fbb30;
      }
    }
  }
}

.controls {
  margin: 32px 8px 20px;
  display: flex;
}

.link {
  margin: 20px 8px;
  font-size: 14px;
  color: #1890ff;
  background: none;
  border: none;
  cursor: pointer;
}
