@use 'styles/variables' as variables;
@use './_mixins.scss' as mixins;

.common-tools-container {
  position: absolute;
  height: 100%;
  margin: 0 0 0 128px;
  display: flex;
  align-items: center;
  gap: 8px;

  @media screen and (max-width: 600px) {
    margin: 0 0 0 60px;
  }

  > div {
    @include mixins.button();
  }
}
