.element-title {
  pointer-events: none;
  position: absolute;
  z-index: 1;
  top: 45px;
  margin-left: 70px;
  height: 40px;
  line-height: 40px;
  color: #333333;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 0.95px;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;

  &.white {
    position: relative;
    float: left;
    top: 0;
    border: 3px solid #595959;
    border-width: 0 0 3px 0;
    margin-left: 0;
    padding: 0 5px;
    z-index: 1;
    text-shadow: none;
  }

  @media screen and (max-width: 600px) {
    margin-top: 20px;
    margin-left: 15px;

    &.white {
      margin-left: 40px;
    }
  }
}

// @media screen and (max-width: 600px) {
//   :not(:global(.white)) .element-title {
//     margin-top: 20px;
//   }

//   :global(.white) .element-title {
//     margin-left: 40px;
//   }
// }
