@use 'styles/variables' as variables;

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  font-size: 30px;

  .controls {
    display: flex;
    align-items: center;
    gap: 12px;
    height: variables.$topBarHeight;
  }

  .left {
    margin-left: 80px;

    @media screen and (max-width: 600px) {
      margin-left: 60px;
    }
  }

  .right {
    padding: 0 8px;
  }

  .menu {
    font-size: 10pt;
  }

  &:global(.white) {
    color: #000000;
  }
}
